<h1>All Twitter Accounts</h1>

<ul class="unstyled">
<% @handles.each do |handle| %>
  <li class="handle">
    <div class="actions">
    <%= link_to 'Show', handle, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_handle_path(handle), class: 'btn btn-info' %>
    <%= link_to 'Destroy', handle, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
    <h2><%= handle.handle %></h2>
  </li>
<% end %>
</ul>
<%= link_to 'New Twitter Account', new_handle_path %>
