<%= form_for(@tweeter_queue) do |f| %>
  <% if @tweeter_queue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweeter_queue.errors.count, "error") %> prohibited this tweeter_queue from being saved:</h2>

      <ul>
      <% @tweeter_queue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
