<!DOCTYPE html>
<html>
<head>
  <title>Tweetpaint</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if false %>
<form class="form-horizontal">
  <select>
    <% @handles.each do |handle|  %>
      <option value="/<%= handle.handle.downcase %>"><%= handle.handle %></option>
    <% end %>
  </select>
  <%= link_to 'Manage Twitter accounts', handles_path %>
</form>  

<h1><%= @handle.handle %></h1>
<% end %>

<nav>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Search</a></li>
    <li><a href="">Currently following</a></li>
    <li><a href="#">Nudged queue</a></li>
    <li><a href="#">Follow queue</a></li>
    <li><a href="#">Unfollow queue</a></li>
  </ul>
</nav>
<div id="list-container"></div>

<%= yield %>

<script type="text/x-mustache-template" id="tTweeters">
<ul class="unstyled">
{{#tweeters}}
  <li class="tweeter {{tag}}">
    <img src="{{image_url}}">
    {{score}}
    {{handle}}
    {{description}}
    {{text}}
    {{followers_count}}
    {{#following}}
    <button class="btn btn-danger">Unfollow</button>  
    {{/following}}  
    {{^following}}
    <button class="btn btn-primary">Follow</button>
    {{/following}}
    <button class="btn btn-warning">Nudge</button>
  </li>
{{/tweeters}}
</ul>
</script>

<script type="text/x-mustache-template" id="tFollowing">
<ul class="unstyled">
{{#tweeters}}
  <li class="tweeter">
    <img src="{{image_url}}">
    {{handle}}
    {{score}}
    {{followers_count}}
    <button class="btn btn-danger">Unfollow</button>
  </li>
{{/tweeters}}
</ul>
</script>
</body>
</html>
